﻿@model FritzWiki.ViewModels.Content
@{
    ViewData["Title"] = @Model.Name;
    ViewData["LastUpdate"] = @Model.LastUpdateUTC;
}

<h2>@Model.Name</h2>

<div id="content-@Model.Name">

<markdown>@Html.Raw(Model.Markdown)</markdown>

</div>