@model FritzWiki.ViewModels.Content

<footer style="text-align: center;">
    @{
        if (ViewBag.LastUpdate == null) {
            ViewBag.LastUpdate = new DateTime(2017,4,1);
        }
    }
    <p>&copy; @(((DateTime)ViewBag.LastUpdate).Year) - @ViewBag.SiteName</p>
    <p style="font-size: smaller; font-style: italic;">Last Updated: @ViewData["LastUpdate"] UTC</p>
</footer>
